* {
  margin: 0;
}

header {
  width: 100vw;
  height: 100px;
  max-width: 100%;
  background-color: rgb(164, 56, 56);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}

#logo-div {
  width: 800px;
}

#baseball-img {
  width: 80px; 
  height: 80px;
  transition: 1s;
}

#baseball-img:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

#nav-bar {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

a {
  margin-left: 40px;
  margin-right: 40px;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#root {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-gap: 20px;
  align-items: center;
}

div.card {
  border-radius: 3px;
  border: 3px solid black;
  margin: 2em;
  padding: 1em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  min-width: 200px;
  min-height: 320px;
}

body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

